

.container {
    display: flex;
    width: 100%;
    margin: 0;
}

.current-article {
    width: 60%;
    padding: 1em;
    margin-top: 3%;
    margin-left: 3%;
    background: #fffcf7;
    box-shadow: 4px 3px 8px -1px rgba(84,67,67,0.75);
}

.list-articles {
    width: 40%;
    margin-top: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 550px;
}

.list-comments {
    box-shadow: 4px 3px 8px -1px rgba(84,67,67,0.75);
    background: #fffcf7;
    line-height: 0.5em;
}

ul {
    cursor: pointer;
    padding: 0;
    list-style-type: none;
    margin-bottom: 1em;
}

.submit-button:hover {
    background: #db003b;
}

/* Split the screen in half */

  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .comment-form-container {
      margin-left: 2%;
  }