<app-header> </app-header>

<div class="container">
    <div class="current-article">
        <app-article [article]="selectedArticle"></app-article>

        <div class="list-comments">
            <h1>Comments</h1>
            <ul *ngFor="let comment of comments">
                <app-comment [comment]="comment"></app-comment>
            </ul>

            <form [formGroup]="commentForm" (submit)="onComment()">    
                <div class="comment-form-container">
                    <mat-form-field class="form-control">
                        <input matInput placeholder="Comment" formControlName="comment" class="comment-input">
                    </mat-form-field>
                
                    <button mat-raised-button type="submit" class="primary-color"> Comment </button>
                </div>
            </form>
        </div>      
    </div>
    
    <div class="list-articles">
        <ul *ngFor="let article of articles" (click)="onSelect(article)">
            <app-article-card 
                [id]="article.id" 
                [title]="article.name" 
                [author]="article.username"
            >
            </app-article-card>
        </ul>
    </div>

</div>



