<app-header> </app-header>

<div class="container">
    <div class="current-article">
        <app-article [article]="selectedArticle"></app-article>

        <div class="list-comments">
            <h1>Comments</h1>
            <ul *ngFor="let comment of comments">
                <app-comment [comment]="comment"></app-comment>
            </ul>
            
        </div>     
    </div>
    
    <div class="list-articles">
        <ul *ngFor="let article of articles" (click)="onSelect(article)">
            <app-article-card 
                [id]="article.id" 
                [title]="article.name" 
                [author]="article.username"
            >
            </app-article-card>
        </ul>
    </div>

</div>



