<div class="container">
    <section>
        <div class="presentation">
            <h1>Welcome to HackerDiary! The diary for hackers</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero suscipit aliquam rerum quas praesentium? Ducimus iure maxime magni dignissimos, non, veritatis magnam nemo totam officiis tempora corrupti provident quis tenetur!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero suscipit aliquam rerum quas praesentium? Ducimus iure maxime magni dignissimos, non, veritatis magnam nemo totam officiis tempora corrupti provident quis tenetur!</p>

        </div>

        <img src="../../../../../assets/images/test.jpg" id="test-image" alt="illustration">
    </section>
</div>