<header>
    <div class="container">
        <a routerLink="/dashboard"> <div class="logo"> HackerDiary </div> </a>

        <nav>
            <ul>
                <li class="myarticles-button secondary-color">
                    <a href="#" routerLink='/my-articles'>My Articles</a>
                </li>
                
                <li class="create-button primary-color">
                    <a href="#" routerLink='/create'>Create an Article</a>
                </li>

                <li class="logout-button primary-color" (click)="logout()">
                    <i class="fas fa-sign-out-alt fa-lg"></i>
                </li>
            </ul>
        </nav>
        
    </div>
</header>
