.container {
    height: auto;
    padding: 1em;
    box-shadow: 4px 3px 8px -1px rgba(84,67,67,0.75);
    background: #f4edde;
}

.container:hover {
    background: rgb(212, 212, 212);
}

.bold {
    font-weight: bold;
}

a, u {
    text-decoration: none;
}
