
.bold {
    font-weight: bold;
}

.container {
    font-size: 1.4em;
    margin: 0;
}

.article-header {
    display: flex;
}

i {
    margin-top: 9%;
    margin-left: 4%;
}

i:hover {
    cursor: pointer;
}